/* General */

$fontSize:14px;
$bodyBgColor:#edf0f5;
$textColor:#333333;
$textSecondaryColor:#707070;
$borderRadius:3px;
$dividerColor:#e3e3e3;
$transitionDuration:.2s;
$maskBgColor:#2F353B;
$focusShadowColor:#F39288;
$errorColor:#E72512;

/* Menu Common */

$menuitemBadgeBgColor:#E72512;
$menuitemBadgeColor:#ffffff;
$submenuFontSize:13px;
$menuitemActiveRouteColor:#E72512;
$menuitemColor:#232428;
$menuitemHoverColor:#E72512;
$menuitemBorderColor:rgba(207, 211, 224, 0.6);

/* Menu Dark */

$menuDarkBgColorFirst:#595D62;
$menuDarkBgColorLast:#2F353B;
$menuitemDarkColor:#ffffff;
$menuitemDarkHoverColor:#E72512;
$menuitemDarkActiveColor:#E72512;
$menuitemDarkActiveBgColor:#2e3035;
$menuitemDarkBorderColor:rgba(52, 56, 65, 0.6);

/* Topbar */


$topbarLeftBgColor:#181c1f;
$topbarRightBgColor:#181c1f;
$topbarItemBadgeBgColor:#2F353B;
$topbarItemBadgeColor:#ffffff;
$topbarItemColor:#ffffff;
$topbarItemHoverColor:#FBDFDC;
$topbarSearchInputBorderBottomColor:#ffffff;
$topbarSearchInputColor:#ffffff;

/* Footer */

$footerBgColor:#ffffff;
